@font-face {
  font-family: 'Ubuntu';
  src: url('Ubuntu/Ubuntu-Light.ttf');
}

@font-face {
  font-family: 'Ubuntu';
  src: url('Ubuntu/Ubuntu-LightItalic.ttf');
  font-style: italic;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('Ubuntu/Ubuntu-Medium.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('Ubuntu/Ubuntu-MediumItalic.ttf');
  font-weight: bold;
  font-style: italic;
}
